$bp-mobile:0 !default;
$bp-mobile-only: 599px !default; // should be 1px less than $tablet

$bp-small: 600px !default;
$bp-below-small: $bp-mobile-only !default;

$bp-medium: 768px !default;
$bp-below-medium: 767px !default;

$bp-normal: 960px !default;
$bp-below-normal: 959px !default;

$bp-wide: 1440px !default;
$bp-below-wide: 1439px !default;

$dark-gray: #2b2e37;
$gray: #53453a;
$soft-gray: #b0b2bf;
$medium-gray: #393b47;
$red: #c54b3c;
$white: #fff;
$black: #000;
$dark-red: #b04638;
