.banner{
  &--wrapper{
    background-color: $red;
    text-align: center;
    padding: 40px 15px;
  }
  &--info{
    &-description{
      color: $white;
      font-size: 20px;
      font-weight: lighter;
      display: block;
      line-height: 30px;
    }
  }
}
